extend ../layouts/example

block content
  form#example
    fieldset
      legend Step 1
      p Step 1
    fieldset
      legend Step 2
      p Step 2
    fieldset
      legend Step 3
      p Step 3

block script
  include default.js
