.row.example
  .col-md-3
    .panel.panel-default
      .panel-heading: b Customized Buttons
      .panel-body: p
        | Each button has a configuration hash that has full control over the
        | generated HTML. (see main docs)

  .col-md-9
    form#example-buttons
      fieldset
        legend Step 1
        p Step 1
      fieldset
        legend Step 2
        p Step 2
      fieldset
        legend Step 3
        p Step 3
