.row.example
  .col-md-3
    .panel.panel-default
      .panel-heading: b Default Configuration
      .panel-body: p
        | The default configuration includes quite a lot, so feel free to
        | switch things off once you realize you don't need them.
  .col-md-9
    form#example-default
      fieldset
        legend Step 1
        p Step 1
      fieldset
        legend Step 2
        p Step 2
      fieldset
        legend Step 3
        p Step 3
