!!! 5
html
  head
    title jWizard Examples
    link(rel="stylesheet", type="text/css", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css")
    link(rel="stylesheet", type="text/css", href="../dist/jquery.jWizard.css")
  body
    block content
    script(src="http://code.jquery.com/jquery-1.10.0.js")
    script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
    script(src="../dist/jquery.jWizard.js")
    block script
