<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dominic Barnes - Web Development</title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="/jWizard/css/screen.css" />
	<link rel="stylesheet" type="text/css" href="/jWizard/css/syntax.css" />

	<!--[if IE]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>

<header>
	<a href="http://github.com/dominicbarnes/jWizard"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

	<hgroup>
		<h1><a href="/jWizard">jWizard</a></h1>
		<h2>A jQuery UI Widget for all your Wizard Form Needs!</h2>
	</hgroup>

	<nav>
		<ul class="primary">
			<li><a href="/index.html">Dominic Barnes</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="/contact.html">Contact</a></li>
			<li><a href="/projects.html">Projects</a></li>
		</ul>
		<ul class="secondary">
			<li><a href="/jWizard/">jWizard</a></li>
			<li><a href="/jWizard/demos.html">Demos</a></li>
		</ul>
	</nav>
</header>

<aside class="right">
	<div>
		<h3>Demonstrations</h3>
		<ol>
			{% for demo in site.posts %}
			<li><a href="/jWizard{{ demo.url }}">{{ demo.title }}</a></li>
			{% endfor %}
		</ol>
	</div>

	<div class="center">
		<h3>About Dominic</h3>
		<p>Dominic Barnes is currently a software developer with <a href="http://www.mediafire.com/">MediaFire.com</a>. While working mostly with PHP, MySQL and Javascript, his skills include ASP.NET, (C#) SQL Server and CouchDB.</p>
		<a href="http://stackoverflow.com/users/188702/dominic-barnes"><img src="http://stackoverflow.com/users/flair/188702.png" height="58" width="208" alt="Stack Overflow Flair" title="Check out my profile on Stack Overflow!" /></a>
	</div>
</aside>

<section id="content">
{{ content }}
</section>

<footer>
	<ul id="badges">
		<li><a href="http://validator.w3.org/check?uri=referer"><img src="/img/w3c-html5.png" alt="Valid HTML5" title="W3C Validation passed for HTML5 (Experimental)" height="15" width="80" /></a></li>
	</ul>

	&copy; Dominic Barnes
</footer>

<!--
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-17646164-1']);
_gaq.push(['_trackPageview']);

(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
-->

</body>

</html>