<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dominic Barnes - {% if page.title %}{{ page.title }}{% else %}Web Development{% endif %}</title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="author" content="Dominic Barnes" />
	<meta name="description=" content="{{ page.description }}" />
	<meta name="keywords" content="javascript, jquery, jquery ui, widget, {{ page.keywords | join: ', ' }}" />
	<meta name="revised" content="{{ site.time }}" />

	<link rel="stylesheet" type="text/css" href="/jWizard/css/main.css" />
	<link rel="stylesheet" type="text/css" href="/jWizard/css/syntax.css" />

	<link rel="icon" type="image/png" href="/img/favicon.ico" />

	<!--[if IE lt 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>

<header>
	<a id="html5-badge" href="http://www.w3.org/html/logo/"><img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="165" height="64" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics"></a>

	<hgroup>
		<h1><a href="/jWizard">jWizard</a></h1>
		<h2>A jQuery UI Widget for all your Wizard Form Needs!</h2>
	</hgroup>

	<nav>
		<ul class="primary">
			<li><a href="/index.html">Home</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="/contact.html">Contact</a></li>
			<li><a href="/jWizard/" class="current">jWizard</a></li>
			<!--<li><a href="/node-couch-api/">node-couch-api</a></li>-->
		</ul>
	</nav>
</header>

<aside class="right">
	<div>
		{% if page.url == '/index.html' %}
			<h3>About jWizard</h3>
			<p>jWizard is a user-friendly, flexible and slim wizard plugin for the <a href="http://jquery.com/">jQuery</a> Javascript Framework, built atop the <a href="http://jqueryui.com/">jQuery UI</a> Widget Factory.</p>
			<p>Based off of the Windows wizards as well as the .NET Wizard Control, it is meant to enrich your user interface with a wizard that helps guide your users through a series of steps, reducing a large and complicated process into small chunks to keep your users from being overwhelmed.</p>
			<p>I've included a number of demonstrations of the functionality and customizability of jWizard here. Feel free to <a href="/contact.html">contact</a> me with further questions.</p>
		{% else %}
			<nav>
				<h3>Demonstrations</h3>
				<ol>
					{% for demo in site.posts reversed %}
					<li><a href="/jWizard{{ demo.url }}" title="{{ demo.description }}">{{ demo.title }}</a></li>
					{% endfor %}
				</ol>
			</nav>
		{% endif %}

	</div>
</aside>

<section id="content">
{{ content }}
</section>

<footer></footer>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-19054604-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

</body>

</html>
