---
layout: default

scripts:
  - js/jquery.min.js
  - js/jquery-ui.min.js
  - js/jquery.jWizard.js

stylesheets:
  - css/jWizard.base.css
---

<h2>{{ page.title }}</h2>

{{ content }}

<p><a href="/jWizard/demos.html">&laquo; Back to Demo List</a></p>

<!--
<div id="switcher"></div>
<br />
-->

{{ page.html }}

<h3>Dependencies</h3>
{% highlight html %}
{% for css in page.stylesheets %}
<link rel="stylesheet" type="text/css" href="/jWizard/{{ css }}" />{% endfor %}
{% for js in page.scripts %}
<script type="text/javascript" src="/jWizard/{{ js }}"></script>{% endfor %}
{% endhighlight %}

<h3>HTML</h3>
{% highlight html %}{{ page.html }}{% endhighlight %}

<h3>JavaScript</h3>
{% highlight javascript %}{{ page.js }}{% endhighlight %}

<!--
<script type="text/javascript">
$(document).ready(function() {
	$('#switcher').themeswitcher();
});
</script>
-->

<link type="text/css" rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/base/jquery-ui.css" />
{% for css in page.stylesheets %}
<link rel="stylesheet" type="text/css" href="/jWizard/{{ css }}" />{% endfor %}

{% for js in page.scripts %}
<script type="text/javascript" src="/jWizard/{{ js }}"></script>{% endfor %}

<script type="text/javascript">
{{ page.js }}
</script>