.hero-unit
  h1 jWizard
  p A jQuery UI Wizard Widget
  .btn-toolbar
    a.btn.btn-large(href="#Demonstration")
      i.icon-magic
      =" Show Me"
    a.btn.btn-large(href="http://github.com/dominicbarnes/jWizard/issues")
      i.icon-tasks
      =" Issue Tracker"
    a.btn.btn-primary.btn-large(href="https://github.com/dominicbarnes/jWizard/archive/master.zip")
      i.icon-download
      =" Download"

.alert
  | v2 is a complete rewrite, please bear with me through the next few
  | releases as I get it back up to feature parity as well as keeping
  | the test coverage as complete as possible.
