.jumbotron
  h1 jWizard
  p A jQuery UI Wizard Widget
  .btn-toolbar
    a.btn.btn-default.btn-lg(href="#demo")
      i.glyphicon.glyphicon-flash
      =" Show Me"
    a.btn.btn-default.btn-lg(href="http://github.com/dominicbarnes/jWizard/issues")
      i.glyphicon.glyphicon-tasks
      =" Issue Tracker"
    a.btn.btn-primary.btn-lg(href="https://github.com/dominicbarnes/jWizard/archive/master.zip")
      i.glyphicon.glyphicon-download
      =" Download"

.alert.alert-warning
  | v2 is a complete rewrite, please bear with me through the next few
  | releases as I get it back up to feature parity as well as keeping
  | the test coverage as complete as possible.
