.hero-unit
  .row-fluid
    .span5
      h1 jWizard
      p A jQuery UI Wizard Widget
      .btn-toolbar
        a.btn.btn-large(href="#demo")
          i.icon-magic
          =" Show Me"
        a.btn.btn-primary.btn-large(href="https://github.com/dominicbarnes/jWizard/archive/master.zip")
          i.icon-download
          =" Download"
    .span7
      .row-fluid
        .span6
          h4 Features
          ol
            li Easy to Use
            li Title Bar
            li Navigation Bar
            li Progress Bar
            li Event-Driven API
        .span6
          h4 Documentation
          ul
            li: a(href="#demo") Demonstration
            li: a(href="#options") Available Options
            li: a(href="#events") Events
            li: a(href="#progress") Extended Progressbar
            li: a(href="#changelog") Change Log
      .alert
        | v2.0 is a complete rewrite, please bear with me through the next few
        | releases as I get it back up to feature parity as well as keeping
        | the test coverage as complete as possible.
