.navbar.navbar-static-top
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/") Dominic Barnes
      .nav-collapse
        ul.nav
          li: a(href="/") About Me
          li.active: a(href="/jWizard") jWizard
          li: a(href="/node-couchdb-api") node-couchdb-api
